    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    nav{
        width: 100%;
        height: 75px;
        line-height: 75px;
        padding: 0px 100px;
        background-color: rgb(15, 15, 15);
        position: fixed;
        z-index: 1;
    }
    nav .logo{
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }
    nav .logo p{
        float: left;
        color: #fff;
        text-transform: uppercase;
    }
    nav ul{
        float: right;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
    }
    nav ul li a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase;
        padding: 0px 32px;
    }
    body{
        font-family: 'Poppins', sans-serif;
        color: gray;
        margin: 0;
    }
    .flexible-container{
        display: flex;
    }
    div h1{
        font-size: 50px;
        color: rgb(88, 84, 84);
    }
    span{
        color: orange;
    }
    .half-width{
        width: 110%;
        padding-left: 60px;
        margin-bottom: 200px;
        padding-top: 80px;
    }
    .half-width img{
        width: 70%;
        margin-left: 120px;
    }
    #padd{
        padding-bottom: 40px;
    }
    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orangered,tomato);
        padding: 10px 30px;
        color: white;
        font-weight: 600;
        border-radius: 50px;

    }
    .padding{
        padding-right: 200px;
        padding-bottom: 40px;
    }
    .about-me{
        background-image: url(images/bg.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
    .about-me img{
        width: 58.30%;
    }
    .recipies {
        text-align: center;
        margin-bottom: 100px;
        
    }
    .recipies h2{
        font-size: 30px;
    }
    .recipie-item{
        box-shadow: 10px 10px 40px gray;
        margin-bottom: 200px;
        width: 20%;
        height: 5%;
        margin-left: 5%;
        margin-right: 4%;
        padding: 30px;
        border-radius: 30px;

    }
    .image{
        max-height: 100%;
        max-width: 100%;
    }
    .recipie-item h2{
        color: black;
        font-weight: 900;
    }
    .follower{
        text-align: center;
        margin-left: 5%;
        margin-right: 4%;
        width: 30%;
    }
    .follower h2{
        color: black;
        font-weight: bolder;
        font-size: 40px;
    }
    .box-shadow{
        box-shadow: 1px 1px 30px gray;
        border-radius: 15px;
        width: 90%;
        height: 4%;
        margin-bottom: 200px;
        margin-left: 5%;
        margin-right: 4%;

    }
    footer{
        text-align: center;
        padding-top: 15px;
        padding-bottom: 40px;
        background-color: rgb(15, 15, 15);
    }
